@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

@layer base {
    * {
      font-family: 'Figtree', sans-serif;
    }

    body {
      color: #333;
      font-size: 14px;
      line-height: 20px;
      margin: 0px;
      background-color: white;
      min-height: 100%;
      overflow-x: hidden;
    }

    section {
      padding: 1.5rem 1rem;
    }

    @media (min-width: 640px) {
      section {
        padding: 2.5rem 2rem;
      }
    }

    @media (min-width: 1024px) {
      section {
        padding: 4rem;
      }
    }

    /*section h1 {
      margin-bottom: 3rem;
    }*/
  }